{{> menu}}

<form class="box"  action="/spot/{{swimlist._id}}/updatespot/{{spot._id}}" method="POST">
  <label>Update Spot Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="name", value="{{spot.name}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="county" value="{{spot.county}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="latitude" value="{{spot.latitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="longitude" value="{{spot.longitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="categorey" value="{{spot.categorey}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Spot</button>
</form>