<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>County</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Categorey</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each swimlist.spots}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{county}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          {{categorey}}
        </td>
        <td>
          <a href="/swimlist/{{../swimlist._id}}/deletespot/{{_id}}" class="button is-rounded">
            <span style="color: grey;">
            <i class="fa-regular fa-trash-can"></i>
            </span>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>